<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="intro"></div>
    <div id="my intro">
        <div id="header">
            <h2>Our intro</h2>
        </div>
        <center>
            <img src="my1.jpg" width="200px">
            <h4><b><i>photographer<br> ASAD ullah</i></b></h4><i>
        </center>
        <br><center>
            special certification in phoTOgraPHy from islamabad,
            <br>
        </center>
        </i>
    </div>
    <div id="mission"></div>
    <div id="MISSION">
        <div id="header">
            <h2>Our MISSION</h2>
        </div>
        <center>
            <img src="mission1.jpg" alt="">
        </center>
        <center>
            <h2>
                MISSION OF saDi's phoTOgraPHy
            </h2>
            <p1>
                Our mission is to provide an enjoyable experience in front of the camera as well
                <br>
                as timeless photographs that you will treasure for a lifetime.
                <br>
                As a photographer, my goal is to capture stories in the form of images.
            </p1>
        </center>
    </div>
    </div>
</body>
</html>