<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="location"></div>
    <div id="location1">
        <div id="footer">
            <center>
                <h2><b><ui>location</ui></b></h2>
            </center>
        </div>
        <br>
        <br>
        <center>
            <h2>
                <b>address</b>
                <p> <i><br> main bazar Sambrial, Sialkot</i></p>
            </h2>
            <h2>
                <b>contact</b> <p>
                    <i>
                        Email: arajpoot1236@gmail.com
                        <br>
                        Phone: 03054995845
                    </i>
                </p>
            </h2>
            <h2>
                <b>links</b>
                <p>
                    <i>
                        <u>
                            About us
                            <br>
                            services
                            <br>
                            contact us
                        </u>
                    </i>
                </p>
            </h2>
            <p>© Copyright 2022 saDi's phoTograPHy- All Rights Reserved</p>
        </center>
</body>
</html>