<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaDi's phoTOgraPHy</title>
    <link rel="stylesheet" href="body.css">
</head>
<body>
   <div class="wrapper">
<center>  
<nav>
<br>
    <img src="logo1.png"style="width: 120px;height: 700; position: left;;" >  
</nav>
<nav>   

    <ul>
              <li><a>HOME</a></li>
              <li>My captures</li>
              <li><a>About us</a></li>
              <li>Offices</li>
              <li>Contact</li>
            </ul>
            </nav> 
<center>
    &nbsp;

    <div class="images"><ul>
      <br>
      <br>
        <img src="logo2.png"style="width: 600px;height: 500 background-origin: 3;;">          
        </ul></div>
    </div>	
</center>
<center>
<h4>
</h4>    
<h1>
    <p>
        <b><b>ABOUT US</b></b> 
        <hr>
    </p>
</h1>
</center>
<center>
    <h3>
        saDi's pHotO stuDio
</h3>
<br>
<br>
<img src="logo3.jpg"style="width: 400px;height: 500;"> 
    <h6>
        <p>
            The word Photography literally means 'drawing with light', 
            <br>
            which derives from the Greek photo, meaning light and graph, 
            meaning to draw. Photography is the process of recording an image – 
            <br>
            a photograph – 
            on lightsensitive film or, in the case of digital photography, 
            <br>
            via a digital electronic or magnetic memory. 
        
    </p>
    </h6>
</center>
<center>
    <h1>
        <b><i>services we provide</i></b>
    </h1>

      <br>
        <br>
        <br>
        <br>
<img src="logo4.jpg">
<h2>
    wedding photography
</h2>
<br>
<br>
<img src="logo 5.jpg" >
<h2>
    kids photography
</h2>
<br>
<br>
<img src="logo6.jpg">
<h2>
    tour photography
</h2>
<br>
<br>
<img src="logo7.jpg">
<h2>
    Birthday Photography
</h2>
</center>
<footer>
    <h2>
        MISSION OF saDi's phoTOgraPHy
    </h2>
    <p1>
        Our mission is to provide an enjoyable experience in front of the camera as well
        <br>
        as timeless photographs that you will treasure for a lifetime.
        <br>
        As a photographer, my goal is to capture stories in the form of images.
    </p1>
</footer>
<br>
<br>
<br>
<center>
<img src="logo8.png" width="500">
<p>
<h4><b><i>photographer<br> ASAD ullah</i></b></h4>
<i>
<br>
    special certification in phoTOgraPHy from islamabad,
<br>
    Email:arajpoot1236@gmail.com </i>
</p>
</center>
   <footer>
       <br>
       <br>
       <img src="logo3.jpg">
       <h2>
           <b>address</b>
           <p>
            <i>
               
            1-KM
              <br>
            daska road, Sialkot
            </i>
            </p>
       </h2>
       <h2>
        <b>contact</b>
        <p>
         <i>
            Email: arajpoot1236@gmail.com
            <br>
            Phone: 03054995845
         </i>
         </p>
    </h2>
    <h2>
        <b>links</b>
        <p>
         <i>
             <u>
            About us
            <br>
            services
            <br>
            contact us
             </u> 
        </i>
         </p>
    </h2>
       <p>© Copyright 2022 saDi's phoTograPHy- All Rights Reserved</p>
   </footer>
</body>
</html>