<html>    
    <head>   
        <h2>
            quiz intro to web
        </h2>
    </head>    
    <body>    
        <link href = "site.css" type = "text/css" rel = "stylesheet" />    
        
        <form name = "form1" action="modified.php" method = "post" enctype = "multipart/form-data" >    
            <div class = "container">    
                <div class = "form_group">    
                    <label>First Name:</label>    
                    <input type = "text" name = "fname" value = "" required/>    
                </div>     
                <div class = "form_group">    
                    <label>Last Name:</label>    
                    <input type = "text" name = "lname" value = "" required/>    
                </div>
               <div class = "form_group">    
                    <label>email:</label>    
                    <input type = "text" name = "email" value = "" required/>    
                </div> 
                <div class = "form_group">    
                    <label>phone:</label>    
                    <input type = "text" name = "phone" value = "" required/>    
                </div>
               <div class = "form_group">    
                    <label>gender:</label>    
                    <input type = "text" name = "gender" value = "" required/>    
                </div> 
                <div class = "form_group">  
                    <br/>
                    <label>department:</label>    
                    <input type = "text" name = "department" value = "" required/>    
                </div> 
            </div>  
        </form>    
    </body>    
</html> 